[include]
    path = .untracked-gitconfig

[alias]
    aliases = !git config --get-regexp ^alias\\. | sed -e s/^alias.// -e s/\\ /\\ $(printf \"\\043\")--\\>\\ / | column -t -s $(printf \"\\043\") | sort -k 1
    s = status
    p = pull
    aa = add .
    r = reset
    cmt = commit -m
    dc = diff --cached
    undo-localcommit = reset HEAD~1

